#title {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
}

#my-contacts{
    position: relative;
    left: 25vw;
    height: 5vh;
    top: 0.7vh;
    display: flex;
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
}

.contacts{
    margin-right: 2vw;
}

.contacts:hover{
    text-decoration: underline;
    cursor: pointer;
}

a:link {
    text-decoration: none;

}
  
a:visited {
    text-decoration: none;
    color: black;
}